[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "*"
pinecone-client = "*"
python-dotenv = "*"
black = "*"
python-magic = "*"
python-magic-bin = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
